.spinner-flex {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.spinner-text {
  text-align: center;
}

.spin {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #b015e8;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  margin-top: 4rem;
  align-self: center;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
